{% extends "layouts/base.njk" %}
{% block content %}
  
  <header role="banner" class="site-head">
    <h1>{{ title }}</h1>
    <article>
      {{ content | safe }}
    </article>
  </header>
  <main>
    {% for item in collections.items %}
        {% if item.data.alternatives %}
            <article class="item" id="{{ item.data.slug }}">
                <h2>{{ item.data.title }}</h2>
                <p>{{ item.templateContent | safe }}</p>
                <h3>Alternatives</h3>
                <dl>
                    {% for alternative in item.data.alternatives %}
                        <dt>{{ alternative.title }}</dt>
                        <dd><a href="{{ alternative.link }}">{{ alternative.link }}</a></dd>
                    {% endfor %}
                </dl>
            </article>
        {% endif %}
    {% endfor %}
  </main>
{% endblock %}
